<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>

    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
     <link rel="stylesheet" href="~/lib/bootstrap/icons-1.7.1/font/bootstrap-icons.css" />
</head>
<body>    
    <div class="myNav shadow p-3 mb-5 rounded Height100 overflow-auto">
        <div class="myHeader bg-dark text-center fs-1">
            <a class="text-white" asp-controller="Home" asp-action="Index">ЖД вокзал</a>
        </div>
        <ul>
            @if (User.IsInRole("Администратор"))
            {
                <li>
                    <p class="fs-4">Группа пользователей</p>
                    <a asp-controller="AccessRight" asp-action="Index">Список групп</a>
                    <a asp-controller="AccessRight" asp-action="Create">Добавить группу</a>           
                </li>
                <li>
                    <p class="fs-4">Работники</p>
                    <a asp-controller="Worker" asp-action="Index">Список работников</a>
                    <a asp-controller="Worker" asp-action="Create">Добавить работника</a>           
                </li>
            }

             <li>
                <p class="fs-4">Места назначения</p>
                <a asp-controller="Destination" asp-action="Index">Список мест назначения</a>
                @if (User.IsInRole("Администратор"))
                {
                    <a asp-controller="Destination" asp-action="Create">Добавить место назначения</a>
                }
            </li>
             <li>
                <p class="fs-4">Поезда</p>
                <a asp-controller="Train" asp-action="Index">Список поездов</a>
                @if (User.IsInRole("Администратор"))
                {
                        <a asp-controller="Train" asp-action="Create">Добавить поезд</a>
                }
                <a asp-controller="TrainDestination" asp-action="Index">Все маршруты поездов</a> 
                @if (User.IsInRole("Администратор"))
                {
                        <a asp-controller="TrainDestination" asp-action="Create">Настройка маршрута поезда</a>
                }
                <a asp-controller="TrainVanSit" asp-action="Index">Поезд-Вагон-Место</a> 
                @if (User.IsInRole("Администратор"))
                {
                        <a asp-controller="TrainVanSit" asp-action="Create">Настройка поезда</a>
                }
            </li>  
            @if (User.IsInRole("Администратор"))
            {
                <li>
                    <p class="fs-4">Места</p>
                    <a asp-controller="SitPlace" asp-action="Index">Список возможных мест</a>
                    <a asp-controller="SitPlace" asp-action="Create">Добавить место</a>           
                </li>  


                <li>
                    <p class="fs-4">Вагоны</p>
                <a asp-controller="Van" asp-action="Index">Список вагонов</a>
                <a asp-controller="Van" asp-action="Create">Добавить вагон</a>           
            </li>  
            }
             <li>
                <p class="fs-4">Клиенты</p>
                <a asp-controller="Client" asp-action="Index" >Список клиентов</a>
                <a asp-controller="Client" asp-action="Create" >Добавить клиента</a>           
            </li>  
            <li>
                <p class="fs-4">Билеты</p>
                <a asp-controller="Ticket" asp-action="Index" >Список билетов</a>
                <a asp-controller="Ticket" asp-action="Create" >Добавить билет</a>           
            </li> 
            <li>
                <p class="fs-4">@AuthorizedUser.GetInstance().GetWorker().GetInfo()</p>
                 <form method="post" asp-controller="Account" asp-action="Logout">

                    <button class="btn btn-light">
                        Выход
                    </button>
                </form>        
            </li> 
        </ul>
    </div>
    <div class="myMain">
        <main class="Height100">             
             @RenderBody()            
        </main>
    </div>
    
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

 
</body>
</html>

    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type="text/javascript"></script>