@model AccessRight
@{
    Layout = "_Layout";
}

<div class="createPlace">
    <form class="createForm form-floating" asp-controller="AccessRight" asp-action="Create" method="post">
            <a asp-controller="AccessRight" asp-action="Index" class="position-absolute top-0 start-100 translate-middle"><i class="bi bi-x-circle fs-2"></i></a>
        
        <div class="row g-2 p-3">
          <div class="col-md">
            <div class="form-floating">             
              <input required asp-for="Name" type="text" class="form-control" id="floatingInputGrid" placeholder="Администратор" value="@Model?.Name">
              @Html.ValidationMessageFor(model => model.Name, null, new { style = "color:red" })
              <label for="floatingInputGrid">Введите наименование группы</label>
            </div>
          </div>        
        </div>     
    <div class="createButton">
        <button class="btn btn-success" type="submit">
                Создать
            </button>
            <button class="btn btn-primary" type="reset">
                Очистить
        </button>
    </div>
        
    </form>
</div>


